/**

svg1.css

Computer Science
Data Processing Part 2

CSS file

Sanne Strikkers
11170816

*/

/* continent color */
.md
{
  fill: green;
}

/* country colors */
#fra
{
  fill: #EE1556;
}

#it
{
fill: #92B63F;
}

#es
{
fill: #2498E5;
}