/**

D3LinkedViews.css

Computer Science 50
D3LinkedViews

D3LinkedViews to style a map

Sanne Strikkers
11170816

*/

/*
    Letter styles 
*/

.title {
    text-align: center;
}

/*
    pop up when hovering countries
*/

.popup-tool {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 10px;
    color: white;
    background: #6A6A6A;
    pointer-events: none;
}

/*
    explanation text
*/
#options {
    margin-top: 20px;
}
.datamaps-legend {
    margin-left: 50px;
}
.explanation {
    margin-top: -48px;
}

/*
Bar Chart
*/

.chart .legend {
  fill: black;
  font: 10px;
  text-anchor: start;
  font-size: 10px;
}

.chart text {
  fill: white;
  font-size: 10px;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font-size: 10px;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart {
    margin-top: 30px;
}