/**

d3line.css

Computer Science 50
d3line

CSS to style a linechart

Sanne Strikkers
11170816

*/


/*
    Style content of the body
*/

body {
    font: 10px arial;
}
.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
footer {
    text-align: center;
    margin-top: 10px;
}
h1, h2 {
    text-align: center;
}
input, #option, .title, select {
    text-align: center;
    font-size: 18px;
}

/*
    Axis of the linechart
*/

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}
.x.axis path {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

/*
    Line of the linechart
*/

.line {
    fill: none;
    stroke: #008ae6;
    stroke-width: 1.5px;
}
.legend text {
    margin-left: 10px;
}
/*
    Cross-hair
*/

.overlay {
    fill: none;
    pointer-events: all;
}
.focus line {
    fill: none;
    stroke: orange;
}
.focus line {
    opacity: 0.5;
}
.focusCircle {
  fill: orange;
}

/*
    Tool-tip
*/

div.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 100px;
    height: 30px;
    padding: 2px;
    margin-left: 5px;
    font-size: 12px;
    background: #808080;
    border: 0px;
    border-radius: 3px;
}